<app-cards></app-cards>
<body>
  <h3>Choose your cards by their name:</h3>
  <div>
    <select>
      <option value="alien">Alien</option>
      <option value="big-yeti">Big Yeti</option>
      <option value="dragon-fire">Dragon Fire</option>
      <option value="dragon-posey">Dragon Posey</option>
      <option value="goofy-monster">Goofy Monster</option>
      <option value="octopus">Octopus</option>
      <option value="scotish-dragon">Scotish Dragon</option>
      <option value="tarnished-one">Tarnished One</option>
      <option value="werewolf">Werewolf</option>
      <option value="yakuza">Yakuza</option>
    </select>
    <input  type="button" name="send" value="Add this card">
  </div>
</body>
