<h1>All the cards:</h1>

<div  class="boxed">
  <button class="favorite styled" type="button"><img  src="assets/Cards/Alien.png" alt="Alien"></button>
  <button class="favorite styled" type="button"><img  src="assets/Cards/Big-Yeti.png" alt="Big Yeti"></button>
  <button class="favorite styled" type="button"><img  src="assets/Cards/Dragon-fire.png" alt="Dragon Fire"></button>
  <button class="favorite styled" type="button"><img  src="assets/Cards/Dragon-Posey.png" alt="Dragon Posey"></button>
  <button class="favorite styled" type="button"><img  src="assets/Cards/Goofy-Monster.png" alt="Goofy Monster"></button>
  <button class="favorite styled" type="button"><img  src="assets/Cards/Octopus.png" alt="Octopus"></button>
  <button class="favorite styled" type="button"><img  src="assets/Cards/Scotish-Dragon.png" alt="Scotish Dragon"></button>
  <button class="favorite styled" type="button"><img  src="assets/Cards/Tarnished-One.png" alt="Tarnished One"></button>
  <button class="favorite styled" type="button"><img  src="assets/Cards/Werewolf.png" alt="Werewolf"></button>
  <button class="favorite styled" type="button"><img  src="assets/Cards/Yakuza.png" alt="Yakuza"></button>
</div>
<h1>Your Deck:</h1>
