

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>User: <input type="username"> - Password: <input type="password"></h1>
    <button type="button">Connexion</button>
    <button (click)="account()" type="button">Créer un Compte</button>


    <div [hidden] = "!isShow">
      <h1>User: <input type="username"> - Password: <input type="password"></h1>
      <button (click)="postAccount()" type="button">Envoyer</button>
    </div>


  </body>
  </html>
